/*
Some design elements are inspired by or taken from below:
https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6
*/

/* General styling */
body {
  font-family: sans-serif;
  margin: 0;
  background-color: rgba(245, 245, 245, 0.5);
}

h1 {
  font-size: 1.2em;
  margin: 15px 5px;
  background-color: black;
  color: white;
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 10px;
  font-weight: 400;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 0.9em;
  margin: 0px 5px 0;
  padding-top: 10px;
  text-align: center;
  font-weight: 500;
}

p {
  margin: 0 10px 10px;
}

img {
  width: 100%;
}

hr {
  border: none;
  height: 1px;
  color: gray;
  background-color: gray;
}

.infected {
  color: #e60000;
  font-weight: 600;
}

.deaths {
  color: #123caf;
  font-weight: 600;
}

#container {
  padding-top: 60px;
}

/* General styling for cards */
.card {
  border: 1px solid rgb(200, 200, 200);
  margin: 0 5px 10px;
  background-color: #fff;
  z-index: 0;
  /* Source: https://materializecss.com/templates/starter-template/preview.html */
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

/* Class for when the card is currently being dragged */
.ui-draggable-dragging {
  z-index: 1;
}

/* Card: Summary */
#summary {
  font-size: 1.3em;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  flex-direction: column;
}

#summary p {
  font-size: 1.8em;
}

/* Card: Confirmed/Deaths by State */
.attr-by-state {
  height: 65vh;
  overflow: auto;
  position: relative;
}

.attr-by-state .header {
  position: sticky;
  background: white;
  top: 0;
  width: calc(100% - 2px);
}

.attr-by-state h2 {
  margin: 0;
  padding: 10px 5px;
}

@media screen and (min-width: 600px) {
  #container {
    width: 95%;
    height: 150vh;
    margin: 0 auto 20px;
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
    grid-template-rows: repeat(100, 1fr);
    grid-template-columns: 1fr 2fr;
  }

  .card {
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: grab;
  }

  #first {
    grid-row: 1 / span 24;
  }

  #second {
    grid-row: 25 / span 38;
  }

  #third {
    grid-row: 63 / span 38;
  }

  #fourth {
    grid-row: 1 / span 34;
  }

  #fifth {
    grid-row: 35 / span 33;
  }

  #sixth {
    grid-row: 68 / span 33;
  }
}

@media screen and (min-width: 1000px) {
  #container {
    grid-template-rows: repeat(100, 1fr);
    grid-template-columns: 20fr 45fr 35fr;
    width: 98%;
    height: 90vh;
  }

  #first {
    grid-row: 1 / span 20;
  }

  #second {
    grid-row: 21 / span 40;
  }

  #third {
    grid-row: 61 / span 40;
  }

  #fourth {
    grid-row: 1 / span 100;
  }

  #fifth {
    grid-row: 1 / span 50;
  }

  #sixth {
    grid-row: 51 / span 50;
  }
}
