:root {
  --desktop-left-width: 20vw;
  --desktop-center-width: 45vw;
  --desktop-right-width: 35vw;
  --margin: 5px;
  --border-pixels: 1px;
}

/* General styling */
body {
  font-family: sans-serif;
  margin: 0;
}

h1 {
  font-size: 1.2em;
  margin: 15px 5px;
}

h2 {
  font-size: 1.1em;
  margin: 5px 0 0 5px;
}

p {
  margin: 0 10px 10px 10px;
}

img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

/* General styling for cards */
.card {
  border: 1px solid black;
  margin: 0 5px 10px;
}

/* Card: Summary */
#summary {
  text-align: center;
  font-size: 1.3em;
  overflow: auto;
}

#summary p {
  font-size: 1.8em;
  margin-bottom: 10px;
}

/* Card: Confirmed/Deaths by State */
.attr-by-state {
  max-height: 80vh;
  overflow: auto;
}

.attr-by-state .header {
  margin: 0 auto;
  position: absolute;
  background: white;
  width: calc(100% - 12px);
}

.attr-by-state .content {
  padding-top: 50px;
}

.attr-by-state h2 {
  padding: 10px 0;
}

@media (min-width: 1200px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 93vh;
  }

  /* Left section */
  #summary, .attr-by-state {
    width: calc(var(--desktop-left-width) - var(--margin) - 2 * var(--border-pixels));
  }

  #summary {
    height: calc(20vh - var(--margin) - 2 * var(--border-pixels));
  }

  .attr-by-state {
    height: calc(35vh - var(--margin) - 2 * var(--border-pixels));
  }

  .attr-by-state .header {
    width: calc(var(--desktop-left-width) - 20px);
  }

  /* Middle section */
  #choropleth-map {
    width: calc(var(--desktop-center-width) - var(--margin) - 2 * var(--border-pixels));
    height: calc(90vh + 4px);
  }

  /* Right section */
  #model, #model-fit {
    width: calc(var(--desktop-right-width) - 25px);
    height: calc(45vh - 4px);
  }
}
