/* General styling */
body {
  font-family: sans-serif;
  margin: 0;
}

h1 {
  font-size: 1.2em;
  margin: 15px 5px;
}

h2 {
  font-size: 1.1em;
  margin: 5px 5px 0;
}

p {
  margin: 0 10px 10px;
}

img {
  width: 100%;
}

/* General styling for cards */
.card {
  border: 1px solid black;
  margin: 0 5px 10px;
}

/* Card: Summary */
#summary {
  text-align: center;
  font-size: 1.3em;
  overflow: auto;
}

#summary p {
  font-size: 1.8em;
}

/* Card: Confirmed/Deaths by State */
.attr-by-state {
  height: 65vh;
  overflow: auto;
  position: relative;
}

.attr-by-state .header {
  position: sticky;
  background: white;
  top: 0;
}

.attr-by-state h2 {
  margin: 0;
  padding: 10px 5px;
}
