/* General styling */
body {
  font-family: sans-serif;
  margin: 0;
}

h1 {
  font-size: 1.2em;
  margin: 15px 5px;
}

h2 {
  font-size: 1.1em;
  margin: 5px 0 0 5px;
}

p {
  margin: 0 0 10px 10px;
}

img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

/* General styling for cards */
.card {
  border: 1px solid black;
  margin: 0 5px 10px;
}

/* Card: Summary */
#summary {
  text-align: center;
  font-size: 1.5em;
}

#summary p {
  font-size: 1.8em;
  margin-bottom: 10px;
}

/* Card: Confirmed/Deaths by State */
.attr-by-state {
  max-height: 80vh;
  overflow: auto;
}

.attr-by-state .header {
  margin: 0 auto;
  position: absolute;
  background: white;
  width: calc(100% - 14px);
}

.attr-by-state .content {
  padding-top: 40px;
}
