body {
  font-family: sans-serif;
  margin: 0;
}

h1 {
  font-size: 1.2em;
  margin: 15px 5px;
}

h2 {
  font-size: 1.1em;
  margin: 0;
  margin-top: 5px;
}

p {
  margin: 0;
}

.card {
  border: 1px solid black;
  margin: 0 5px 10px;
}

#summary {
  text-align: center;
  font-size: 1.5em;
}

#summary p {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.attr-by-state {
  max-height: 80vh;
  overflow: auto;
  padding: 0 5px;
}

.attr-by-state .header {
  margin: 0;
  position: absolute;
  width: 95vw;
  background: white;
  padding: 5px 0;
}

.attr-by-state .content {
  padding-top: 40px;
}

.attr-by-state p {
  margin: 0 0 5px 5px;
}
