body {
  font-family: sans-serif;
  margin: 0;
}

h1 {
  font-size: 1.2em;
  margin: 15px 5px;
}

h2 {
  font-size: 1.1em;
  margin: 0;
  margin-top: 5px;
}

p {
  margin: 0;
}

.card {
  border: 1px solid black;
  margin: 0 5px 10px;
}

#summary {
  text-align: center;
  font-size: 1.5em;
}

#summary p {
  font-size: 1.8em;
  margin-bottom: 10px;
}
