/* General styling */
body {
  font-family: sans-serif;
  margin: 0;
}

h1 {
  font-size: 1.2em;
  margin: 15px 5px;
}

h2 {
  font-size: 1.1em;
  margin: 5px 5px 0;
}

p {
  margin: 0 10px 10px;
}

img {
  width: 100%;
}

.infected {
  color: red;
}

/* General styling for cards */
.card {
  border: 1px solid black;
  margin: 0 5px 10px;
}

/* Card: Summary */
#summary {
  text-align: center;
  font-size: 1.3em;
  overflow: auto;
}

#summary p {
  font-size: 1.8em;
}

/* Card: Confirmed/Deaths by State */
.attr-by-state {
  height: 65vh;
  overflow: auto;
  position: relative;
}

.attr-by-state .header {
  position: sticky;
  background: white;
  top: 0;
  width: calc(100% - 2px);
}

.attr-by-state h2 {
  margin: 0;
  padding: 10px 5px;
}

@media screen and (min-width: 600px) {
  #container {
    width: 95%;
    height: 150vh;
    margin: 0 auto 20px;
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
    grid-template-rows: repeat(100, 1fr);
    grid-template-columns: 1fr 2fr;
  }

  .card {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  #first {
    grid-row: 1 / span 24;
  }

  #second {
    grid-row: 25 / span 38;
  }

  #third {
    grid-row: 63 / span 38;
  }

  #fourth {
    grid-row: 1 / span 34;
  }

  #fifth {
    grid-row: 35 / span 33;
  }

  #sixth {
    grid-row: 68 / span 33;
  }
}

@media screen and (min-width: 1000px) {
  #container {
    grid-template-rows: repeat(100, 1fr);
    grid-template-columns: 20fr 45fr 35fr;
    width: 98%;
    height: 90vh;
  }

  #first {
    grid-row: 1 / span 20;
  }

  #second {
    grid-row: 21 / span 40;
  }

  #third {
    grid-row: 61 / span 40;
  }

  #fourth {
    grid-row: 1 / span 100;
  }

  #fifth {
    grid-row: 1 / span 50;
  }

  #sixth {
    grid-row: 51 / span 50;
  }
}
